<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>
      <div class="jumbotron">
          <h1> ONLINE SHOPPING APP</h1>
          <a class="btn btn-primary btn-lg" href="/add" role="button">ADD ITEM</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <a class="btn btn-primary btn-lg" href="/display" role="button">Display ITEMS</a>
       </div>

    </div>
  </body>
</html>
